<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Niklas Eriksson</title>
    <link rel="stylesheet" href="/css/styles.css">	
</head>
<body>
<header>
    <h1>Niklas Eriksson</h1>
    <nav>
			<ul>
				<li><a href="{{site.baseurl}}index.html" class="{% if page.url == '/' %}current{% endif %}">START</a></li>
				<li><a href="{{site.baseurl}}blogg.html" class="{% if page.url == '/blogg.html' %}current{% endif %}">BLOGG</a></li>
				<li><a href="{{site.baseurl}}projekt.html" class="{% if page.url == '/projekt.html' %}current{% endif %}">PROJEKT</a></li>
				<li><a href="{{site.baseurl}}aboutme.html" class="{% if page.url == '/aboutme.html' %}current{% endif %}">OM MIG</a></li>
			</ul>
		</nav>
</header>
{{content}}
<footer>
        <p> Upphovsrätt tillhör &copy; 2017, Niklas Eriksson</p>      
</footer>
</body>
</html>	