---
comments: true
---

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="post">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }/images/post.png">
    <title>Niklas Eriksson</title>
    <link rel="stylesheet" href="/css/styles.css">	
</head>
<body>
<div id="wrapper">
<header>
    <h1>Niklas Eriksson</h1>
    <nav>
			<ul>
				<li><a href="{{site.baseurl}}index.html" class="{% if page.url == '/' %}current{% endif %}">START</a></li>
				<li><a href="{{site.baseurl}}blogg.html" class="{% if page.url == '/blogg.html' %}current{% endif %}">BLOGG</a></li>
				<li><a href="{{site.baseurl}}projekt.html" class="{% if page.url == '/projekt.html' %}current{% endif %}">PROJEKT</a></li>
				<li><a href="{{site.baseurl}}aboutme.html" class="{% if page.url == '/aboutme.html' %}current{% endif %}">OM MIG</a></li>
			</ul>
		</nav>
</header>
{{content}}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = "{{site.url}}{{page.url}}";  
this.page.identifier = "{{page.url}}"; 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nikoautomation.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</div>
<footer>
        <p> Upphovsrätt tillhör &copy; 2017, Niklas Eriksson</p>      
</footer>
<script id="dsq-count-scr" src="//nikoautomation.disqus.com/count.js" async></script>
</body>
</html>	